.addPost {
    margin: auto;
    text-align: center;
    width: 40%;
    margin-bottom: 20px;
}

button {

    margin-top: 10px;
}


.postLogoPic {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 5px;
    border: 0.2px solid green;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.postUsername {
    display: inline-block;
    margin-left: 5px;
    
}

.postDate {
    display: inline-block;
    margin-left: 5px;
}

.postContent, .postBox {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(201, 201, 201);
    border-left-style: solid;
    /* border-left-color: green; */
    border-left: 4px solid rgb(11, 94, 215);
    /* border-radius: 15px; */
    width: 40%;
    margin-block-end: 10px;
    margin: auto;
    overflow-wrap: break-word;
}

.content {
    margin-left: 10px;
    margin-right: 10px;
    white-space: pre-wrap;
}

.postMisc {
    text-align: left;
}

.postMisc a {
    /* width: 75px;
    height: 75px; */
    margin: 5px;
    /* margin: auto; */
}

