.addPost, .sendComment {
    margin: auto;
    text-align: center;
    width: 40%;
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
}


.postLogoPic {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 5px;
    border: 0.2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.postPic {
    width: 500px;
    height: 500px;
}

.postUsername, .commentUsername {
    display: inline-block;
    margin-left: 5px;
    
}

.postDate {
    display: inline-block;
    margin-left: 5px;
}

.postContent, .postBox, .commentBox {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(201, 201, 201);
    border-left-style: solid;
    border-left: 4px solid rgb(11, 94, 215);
    width: 40%;
    margin-block-end: 10px;
    margin: auto;
    overflow-wrap: break-word;
}

.card {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    overflow-wrap: break-word;
}

.commentBox {
    margin-top: 20px;
}

.content {
    margin-left: 10px;
    margin-right: 10px;
    white-space: pre-wrap;
}

.postMisc {
    text-align: left;
}

.postMisc a {
    margin: 5px;
}

.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}